/web-app/node_modules
/web-app/.angular
/web-app/.vscode/*

/downloads

/web-server/bin
/web-server/obj
/web-server/.vs
/web-server/web-api/bin/Debug/net7.0
/web-server/web-api/obj
*.user
/.vs
/web-server/DataAccess/obj
